<div class="form-container">
    <h1>Delete Product</h1>
    <form>
        <label for="idDelete">ID: </label>
        <input id="idDelete" name="idDelete">
        <button type="button" class="btn btn-submit" id="btnDelete">Delete</button>
    </form>
</div>